<li id=$component.getComponentOID().getId() class="hc-player-item video">
    <div style="text-align:center; width:100%">
        #if($component.getService()=='youtube')
            #parse("editcourse/slideeditor/component/standart/video/youtube.vm")
        #elseif($component.getService()=='vimeo')
			#parse("editcourse/slideeditor/component/standart/video/vimeo.vm")
		#else
			<video controls="controls" height="400" style="width:720px;height:400px;" width="720" poster="">
				<source src=$link.getContextPath()$component.getVideoUrl() type="video/mp4">
			</video>
        #end
	</div>
</li>
