<li id=$component.getComponentOID().getId() class="hc-player-item video editor row empty">
	<div class="editor-load-img col-md-6">
		<img src="$link.getContextPath()/img/course/video.png">
	</div>
	<div class="editor-load-ui col-md-6">
		<a onclick='SlideEditor.uploadComponent($component.getComponentOID().getId())'  id=upload$component.getComponentOID().getId() class="hc-btn-primary editor-load-btn">
			#springMessage("SlideEditor.video.load")
		</a>
		<input id=input$component.getComponentOID().getId() placeholder="#springMessage('SlideEditor.video.loadInput')" class="form-control editor-load-input" onchange='SlideEditor.saveVideoByUrl("$component.getComponentOID().getId()")'>
		<a class="ui-delete-loadable" onclick=SlideEditor.deleteComponent("$component.getComponentOID().getId()")>
			<i class="icon-trash delete"></i>
		</a>
	</div>
	<form id="form$component.getComponentOID().getId()" class="handy" method="POST" action="$link.getContextPath()/main/editcourse/content/upload" name="avatarform" enctype="multipart/form-data">
		<input id="oid$component.getComponentOID().getId()" value="$component.getComponentOID().getId()" type="hidden" name="oid">
		<input id="file$component.getComponentOID().getId()" type="file" style='display:none' name="file" onchange='SlideEditor.submitComponent($component.getComponentOID().getId())'>
	</form>
	<i class="icon-move component"></i>
</li>