<li class='row' id='${answer.getObjectId().getId()}'>
	<div class='col-md-12'>
		#if(${answer.getValue()}=='true')
			<input id='radiobutton${answer.getObjectId().getId()}' type='radio' checked='checked' name='radiogroup${answer.getQuestionOID().getId()}'>
		#else
			<input id='radiobutton${answer.getObjectId().getId()}' type='radio' name='radiogroup${answer.getQuestionOID().getId()}'>
		#end
		<label for='radiobutton${answer.getObjectId().getId()}' class='hradio'></label>
		<label id='text${answer.getObjectId().getId()}' for='radiobutton${answer.getObjectId().getId()}'>$answer.getText()</label>
	</div>
</li>