<li id="$question.getObjectId().getId()" class="row hc-question" data-type="$question.getQuestionType()">
	<div id="title${question.getObjectId().getId()} "class="col-md-12">
		#if($question.getText().equals(''))
			#springMessage("TestEditCourseAction.type.question")
		#else
			$question.getText()
		#end
	</div>
	<ul id="answers${question.getObjectId().getId()}" class="col-md-12 answers nav">
		#foreach($answer in $bean.getVisibleAnswers($question))
			#parse("editcourse\testeditor\answers\view\single.vm")
		#end
	</ul>
	<i class="icon-move component a"></i>
	#parse("editcourse/testeditor/ui/menu.vm")
</li>