#set($w = $child.getWidth())
#set($h = $child.getHeight())
#set($x = $child.getX())
#set($y = $child.getY())
#set($id = $child.getComponentOID().getId())
#set($parent = $child.getComponentOID().getId())

<div id=$id class='hc-player-item marker' style='width:${w}px;height:${h}px;position:absolute;left:${x}px;top:${y}px'>
	<script>
		SlideEditor.draggableMarker('$id', '$parent');
		SlideEditor.resizableMarker('$id', '$parent');
	</script>
	#parse("editcourse/slideeditor/ui/uism.vm")
</div>