<!DOCTYPE html>
<html>
#parse("head.vm")
<script type="text/javascript" src="$link.getContextPath()/js/editcoursewizard.js"></script>
<body>
	#parse("topmenu/topmenu.vm")
	<div class="wrapper">
		<div id="body" class="container">
			<div>
				#parse("editcourse/wizardPanel.vm")
				<div class='step-area'>
					#parse
				</div>
			</div>
		</div>
	</div>
	#parse("footer.vm")
</body>
</html>
