#set($oid = ${component.getComponentOID().getId()})
#set($parent = $component.getParentOid().getId())

<div class='full-marker-ui' id="${component.getComponentOID().getId()}ui">
    <div class='top'>
        <label class='pull-left'>X</label>
        <input onchange='SlideEditor.changeValue("left", ${oid}, $(this))' value='${component.x} px' class='pull-left form-control' >
        <label class='pull-left'>#springMessage('width')</label>
        <input onchange='SlideEditor.changeValue("width", ${oid}, $(this))' value='${component.width} px' class='pull-left form-control' >
	</div>
<div class='bottom'>
    <label class='pull-left'>Y</label>
    <input onchange='SlideEditor.changeValue("top", ${oid}, $(this))' value='${component.y} px' class='pull-left form-control' >
    <label class='pull-left'>#springMessage('height')</label>
    <input onchange='SlideEditor.changeValue("height", ${oid}, $(this))' value='${component.height} px'class='pull-left form-control' >
</div>
<div class='buttons-ui'>
    <a class='btn primary' style='min-width:20px;' onclick='SlideEditor.saveMarker("$oid", "$parent")'>
        <i class='icon-ok'></i>
    </a>
    <a class='btn blue' style='min-width:20px;' onclick='SlideEditor.cancelChildEdit("$oid", "$parent")'>
        <i class='icon-remove'></i>
    </a>
</div>
</div>
<script>
    $("#${component.getComponentOID().getId()}").resizable('disable').draggable('disable').find('.ui-resizable-handle').remove();
    $("#ui${component.getComponentOID().getId()}").remove();
    $("#${component.getComponentOID().getId()}ui").draggable();
</script>
