<!DOCTYPE html>
<html>
#parse("head.vm")
<script type="text/javascript" src="$link.getContextPath()/js/contacts.js"></script>
<script type="text/javascript" src="$link.getContextPath()/js/search.js"></script>
<script type="text/javascript" src="$link.getContextPath()/js/addressbook.js"></script>
<body>
	#parse("topmenu/topmenu.vm")
	<div class="wrapper">
		<div id="body" class="container">
			<div class='row'>
				<div class='col-md-3'  style='margin-top:30px'>
					<div class="row">
						<div class="col-md-12">
							<div class="pull-left">
								<h4 class="border">#springMessage("UserGroupFace.UserGroupsHeader")</h4>
							</div>
							<a class="hc-btn-primary pull-right" onclick="ContactsModule.createGroup()">#springMessage("UserGroupFace.createGroupBtnTitle")</a>
						</div>
					</div>
					<div class='row'>
						<div class='col-md-12'>
							#parse("contacts\groups.vm")
						</div>
					</div>
				</div>
				#parse("contacts\groupwell.vm")
			</div>
		</div>
	</div>
	#parse("contacts\addressbook.vm")
	#parse("footer.vm")
</body>
</html>