<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<title>Handyclass 2.0</title>
<link type="text/css" rel="stylesheet" href="$link.getContextPath()/css/bootstrap.css">
<link type="text/css" rel="stylesheet" href="$link.getContextPath()/css/font-awesome.css">
<link rel="icon" type="image/png" href="$link.getContextPath()/img/favicon.ico">
<script type="text/javascript" src="$link.getContextPath()/js/jquery-1.10.2.js"></script>
<link type="text/css" rel="stylesheet" href="$link.getContextPath()/css/handy-theme.css">
<script type="text/javascript">
	jQuery(function(){
		jQuery('.hc-profile-dropdown').mouseenter(function(){
		    jQuery(this).addClass('open');
		}).mouseleave(function(){
		    removeOpen(jQuery(this));
		}).off('click');
		if(jQuery('.starter-wrapper').length) {
			starter();
			jQuery(document).scroll(starter());
			jQuery(window).resize(starter());
		}
	})
	function removeOpen(jObj){
      setTimeout(function(){
	    if (jObj.is(':hover')) {
	        return;
	    } else {
            jQuery(jObj).removeClass('open');
	    }
      },500
    )}
</script>

</head>
<body>
	<h1>$message</h1>
</body>
</html>