<div id="allLike" aria-hidden="true" class="modal in" style="display: none;">
	<div class="modal-dialog hc like">
	<div class="modal-content">
	<div class="modal-header">Likes ($count)
		<a class="hc-btn-close" data-dismiss="modal">
			<i class="icon-remove"></i>
				<div>
				</div>
		</a>
	</div>
	<div class="modal-body">
		<div class="row">
			#foreach($user in $users)
			<div class="col-md-4">
				<a onclick='Util.goTo("userprofile/$user.id")'>
					<img class="hc-like-img" src=$link.getContextPath()$user.image>
					$user.name
				</a>
			</div>
			#end
		</div>
	</div>
	<div class="modal-footer">
	</div>
</div>				