<div style=width:$width>
	#foreach($user in $users)
		<a onclick='Util.goTo("userprofile/$user.id")'>
			<img class="hc-like-img" src="$link.getContextPath()$user.image">
		</a>
	#end
	</div>
	<a onclick="LikeModule.all($id)">
		#springMessage('showAllLikes')
	</a>
	#*<i class="icon-caret-up like-arrow" style="left: 30px; top: -10px;"></i>*#
</div>