<label id=likeContainer$id class="hc-like-container pull-left">
	#if($active)
		<div id=likeFor$id class="hc-like active">
	#else
		<div id=likeFor$id class="hc-like">
	#end
		#if($count == '0')
		<a class="like-count">
			$count
		</a>
		#else
		<a onclick=LikeModule.last($id) class="like-count">
			$count
		</a>
		#end
		<a onclick=LikeModule.push($id) class="icon-thumbs-up-alt like-press"></a>
	</div>
	<div id=lastLike$id style="display: none;" class="hc-users-like">

	</div>
</label>