<ul class='nav navbar-nav wizard-paging'>
	#if($bean.getSlides().isEmpty())
		
	#else
	<li class='first'><a onclick='CoursePlayer.firstPage()' class='icon-double-angle-left'></a></li>
	<li class='prev'><a onclick='CoursePlayer.prevPage()' class='icon-angle-left'></a></li>
	#foreach($page in $bean.getSlides())
		#if($page.getObjectId().getId()==$bean.getActiveSlide().getObjectId().getId())
		<li class='page active' ><a onclick='CoursePlayer.changePage($page.getObjectId().getId())'>$foreach.count</a></li>
		#else
		<li class='page'><a onclick='CoursePlayer.changePage($page.getObjectId().getId())'>$foreach.count</a></li>
		#end
	#end
	<li class='last pull-right'><a onclick='CoursePlayer.lastPage()' class='icon-double-angle-right'></a></li>
	<li class='next pull-right'><a onclick='CoursePlayer.nextPage()' class='icon-angle-right'></a></li>
	#end
</ul>
	<script>
Util.paging();
</script>