#set($bean = ${courselistData})
<ul id='userModeUl' class='nav navbar-nav'>
    #if($bean.viewModel.userMode == "TEACHER")
        <li class='active' data-type='teacher'>
            <a onclick="CourseListModule.changeUserMode('TEACHER');">#springMessage("CourseListFace.teacher")</a>
        </li>
        <li data-type='student'>
            <a onclick="CourseListModule.changeUserMode('PUPIL');">#springMessage("CourseListFace.pupil")</a>
        </li>
    #else
        <li data-type='teacher'>
            <a onclick="CourseListModule.changeUserMode('TEACHER');">#springMessage("CourseListFace.teacher")</a>
        </li>
        <li class='active' data-type='student'>
            <a onclick="CourseListModule.changeUserMode('PUPIL');">#springMessage("CourseListFace.pupil")</a>
        </li>
    #end
</ul>
