<li class='row active' id='${answer.getObjectId().getId()}'>
	<div class='col-md-12' style='padding-left:10px; padding-right:0px;'>  
		<textarea id="text${answer.getObjectId().getId()}">
			$answer.getText()
		</textarea>
		<script>
			Wysiwyg.initQ("text${answer.getObjectId().getId()}");
		</script>
	</div>
</li>