<li class='row active' id='${answer.getObjectId().getId()}'>
	<div class='col-md-12' style='padding-left:10px; padding-right:0px;'>  
		
		#if(${answer.getText()}=='')
			<input placeholder='#springMessage("TestEditCourseAction.type.text")' class='form-control' id="text${answer.getObjectId().getId()}">
		#else
			<input value="${answer.getText()}" class='form-control' id="text${answer.getObjectId().getId()}">
		#end
	</div>
</li>