<div id="OverallCourseRating" class="row">
    <div class="col-md-12">
        <h4 class="border">#springMessage("Reports.coursesRating")
            <a data-sort="DESC" data-column-name="count_views" data-report-container="OverallCourseRating" data-report-type="COURSE_RATING" 
            	onclick="Report.sortBillboard(jQuery(this)); Report.renderBillboard(jQuery(this))">
                <i class="icon-thumbs-up-alt pull-right" style="font-size:14px"></i>
            </a>
            <a data-sort="DESC" data-column-name="count_likes" data-report-container="OverallCourseRating" data-report-type="COURSE_RATING" 
            	onclick="Report.sortBillboard(jQuery(this)); Report.renderBillboard(jQuery(this))">
                <i class="icon-eye-open pull-right" style="font-size:14px"></i>
            </a>
        </h4>
        <div class="row">
            #foreach($item in $bean.items)
                <div class="col-md-9">
                    <a class='cut-this' onclick="Util.goTo('main/coursereg/index?coid=${item.courseOID}')">$!{item.courseName}</a>
                </div>
                #if($bean.viewModel.sort == "count_views")
                	<div class="text-right col-md-3">${item.courseViews}</div>
                #else
                	<div class="text-right col-md-3">${item.courseLikes}</div>
                #end
            #end
        </div>
    </div>
    <div style='margin-right:10px;'>
        <a class="pull-right btn blue" href="$link.getContextPath()/reports/courseRating" onclick="">#springMessage("Reports.fullList")</a>
    </div>
</div>
<script>
    handy.allCourseRatingVM = new ReportViewModel();
    handy.allCourseRatingVM.controller = "${bean.viewModel.controller}";
    handy.allCourseRatingVM.reportType = "${bean.viewModel.reportType}";
    handy.allCourseRatingVM.categoryFilter = "${bean.viewModel.categoryFilter}";
    handy.allCourseRatingVM.statusFilter = "${bean.viewModel.statusFilter}";
    handy.allCourseRatingVM.userActivityFilter = "${bean.viewModel.userActivityFilter}";
    handy.allCourseRatingVM.search = "${bean.viewModel.search}";
    handy.allCourseRatingVM.sort = "${bean.viewModel.sort}";
    handy.allCourseRatingVM.direction = "${bean.viewModel.direction}";
    handy.allCourseRatingVM.startDate = "${bean.viewModel.startDate}";
    handy.allCourseRatingVM.endDate = "${bean.viewModel.endDate}";
</script>

<script>
$('.cut-this').each(function(index,value){
	var symbols = $(value).parent().width()/8;
	var text = $(value).text();
	if(parseInt(symbols)<=text.length){
		text = text.substring(0, symbols) + "...";
		$(value).text(text);
	}
});
</script>
