#foreach($item in $bean.items)
<tr class="handy tr">
	<td class="handy td" style='position:relative; display:block;'><img style='width:64px; height:48px; position:absolute; left:0px; top:0px;' src='$link.getContextPath()${item.avatarUrl}'></td>
    <td class="handy td">$foreach.count</td>
    <td class="handy td">
		<a class='cut-this' onclick="Util.goTo('main/coursereg/index?coid=${item.courseOID}')">$item.courseName</a>
    </td>
    <td class="handy td text-right view">$item.courseViews</td>
     <td class="handy td text-right like">$item.courseLikes</td>
</tr>
#end
<script>
$('.cut-this').each(function(index,value){
	var symbols = $(value).parent().width()/8;
	var text = $(value).text();
	if(parseInt(symbols)<=text.length){
		text = text.substring(0, symbols) + "...";
		$(value).text(text);
	}
});
</script>