<div id="reportBody" class="row">
    #if ($bean.items.size() == 0)
        #parse("reports/emptyMessage.vm")
    #else
        <div>
            <div class="col-md-8">
				<table class="handy table report full">
                    <colgroup class="handy colgroup"></colgroup>
                    <thead class="handy thead">
                        <tr class="handy tr">
							<th class='handy th' style='width:64px;'></th> 
                            <th class="handy th" style='width:30px'>№</th>
                            #reportTHead($bean.viewModel, "reportBody", "COURSE_RATING", "full_name", "Reports.columnCOURSE_NAME", "text-left", "width:330px;")
                            #reportTHead($bean.viewModel, "reportBody", "COURSE_RATING", "count_views", "Reports.columnVIEWS", "text-right", "width: 110px" )
                            #reportTHead($bean.viewModel, "reportBody", "COURSE_RATING", "count_likes", "Reports.columnLIKES", "text-right", "width: 90px" )
						</tr>
                    </thead>
                    <tbody class="handy tbody">
                        #parse("reports/allCourseRating/reportItems.vm")
                    </tbody>
                </table>
            </div>
			<div class='col-md-4'>
				<div id='report'></div>
				<script>Chart.ratingChart();</script>
			</div>
        </div>
    #end
</div>
