<li class='row' id='${answer.getObjectId().getId()}'>
	<div style='color:#5a5a64;' class='col-md-4'>
		#if($answer.getText().equals(''))
			<label id='value${answer.getObjectId().getId()}'>#springMessage("TestEditCourseAction.type.value")</label>
		#else
			<label id='value${answer.getObjectId().getId()}'>${answer.getValue()}</label>
		#end
		
		
	</div>
	<div class='col-md-8'>
		
		#if($answer.getText().equals(''))
			<label id='text${answer.getObjectId().getId()}'>#springMessage("TestEditCourseAction.type.text")</label>
		#else
			<label id='text${answer.getObjectId().getId()}'>${answer.getText()}</label>
		#end
		
	</div>
</li>