<li class='row' id='${answer.getObjectId().getId()}'>
	<div class='col-md-12'>
		#if(${answer.getText()}=='')
			#springMessage("TestEditCourseAction.type.text")
		#else
    		<label id='text${answer.getObjectId().getId()}'><em>${answer.getText()}</em></label>
		#end
		
	</div>
</li>