<div id="signupDlg" class="modal" aria-hidden="true">
    <div class="modal-dialog hc starter">
        <div class="modal-content">
            <div class="modal-header">
                <label>#springMessage("SignupFace.dlgHeader")</label>
                <a class="hc-btn-close" data-dismiss="modal">
                    <i class="icon-remove"></i>
                </a>
            </div>
            <div class="modal-body">
                <div>
                    #* Заголовок над кнопками соц сетей *#
                    <div class="row">
                        <div class="col-md-12">
                            <h4>#springMessage("SignupFace.socialPanel.title")</h4>
                        </div>
                    </div>
                    #* Кнопки Гугл и Фейсбук*#
                    <div class="row" style="margin-bottom: 16px; margin-left:0px;">
                            <div class='col-md-6'>
							<a class="btn g" onclick="Util.goTo('/auth/googlesignup')">
                                <i class="icon-google-plus"></i>
                                <label>#springMessage("SigninFace.googleBtn")</label>
							</a>
							</div>
							<div class='col-md-6'>
                            <a id="btn629337" class="btn fb pull-right" onclick="Util.goTo('/auth/facebooksignup')">
                                <i class="icon-facebook"></i>
                               <label> #springMessage("SigninFace.facebookBtn")</label>
                            </a>
							</div>
                        </div>
                        #* Кнопки Твиттер и ВК *#
                        <div class="row" style='margin-left:0px'>
							<div class='col-md-6'>
							<a id="btn717154" class="btn tw" onclick="Util.goTo('/auth/twittersignup')">
                                <i class="icon-twitter"></i>
                                <label>#springMessage("SigninFace.twitterBtn")</label>
                            </a>
							</div>
							<div class='col-md-6'>
							<a id="btn077599" class="btn vk pull-right" onclick="Util.goTo('/auth/vkontaktesignup')">
                                <i class="icon-vk"></i>
                                <label>#springMessage("SigninFace.vkBtn")</label>
                            </a>
							</div>
                        </div>
                </div>
                <form method="POST" action="$link.getContextPath()/signup">
                    <div>
                        #* Заголовок полей ввода*#
                        <div class="row">
                            <div class="col-md-12">
                                <h4>#springMessage("SignupFace.withEmail")</h4>
                            </div>
                        </div>
                        #* Поля ввода персональных данных *#
                        <div class="row">
                            <div class="col-md-12">
                            	#if ($bean.signupValidationMsg && $bean.signupValidationMsg.forField == "firstName")
                            		#set($inputClazz = $bean.signupValidationMsg.clazz)
                            	#else #set($inputClazz = "")
                            	#end
                                <input class="form-control hc-${inputClazz}" type="text" onkeydown="if(event.keyCode==13){jQuery('#internalform').submit()}" name="firstName" placeholder="#springMessage("SignupFace.firstNamePlaceholder")" value="$!{bean.firstName}"/>
                                #if ($bean.signupValidationMsg && $bean.signupValidationMsg.forField == "lastName")
                            		#set($inputClazz = $bean.signupValidationMsg.clazz)
                            	#else #set($inputClazz = "")
                            	#end
                                <input class="form-control hc-${inputClazz}" type="text" onkeydown="if(event.keyCode==13){jQuery('#internalform').submit()}" name="lastName" placeholder="#springMessage("SignupFace.lastNamePlaceholder")" value="$!{bean.lastName}"/>
                                #if ($bean.signupValidationMsg && $bean.signupValidationMsg.forField == "email")
                            		#set($inputClazz = $bean.signupValidationMsg.clazz)
                            	#else #set($inputClazz = "")
                            	#end
                                <input class="form-control hc-${inputClazz}" type="text" onkeydown="if(event.keyCode==13){jQuery('#internalform').submit()}" name="email" placeholder="#springMessage("SignupFace.emailPlaceholder")" value="$!{bean.email}"/>
								#if ($bean.signupValidationMsg && $bean.signupValidationMsg.forField == "password")
                            		#set($inputClazz = $bean.signupValidationMsg.clazz)
                            	#else #set($inputClazz = "")
                            	#end
                                <input class="form-control hc-${inputClazz}" type="password" onkeydown="if(event.keyCode==13){jQuery('#internalform').submit()}" name="password" placeholder="#springMessage("SignupFace.passwordPlaceholder")" value="$!{bean.password}"/>
                                #if ($bean.signupValidationMsg && $bean.signupValidationMsg.forField == "repeat_password")
                            		#set($inputClazz = $bean.signupValidationMsg.clazz)
                            	#else #set($inputClazz = "")
                            	#end
                                <input class="form-control hc-${inputClazz}" type="password" onkeydown="if(event.keyCode==13){jQuery('#internalform').submit()}" name="repeat_password" placeholder="#springMessage("SignupFace.repeatPasswordPlaceholder")" value="$!{bean.repeatPass}"/>
								#viewMessage(${bean.signupValidationMsg})
							</div>
                        </div>
                    </div>
                    <div>
                        #* Кнопка создания аккаунта *#
                        <div class="row">
                            <div class="col-md-12" style='margin-top:16px'>
                                <input id="create" class="btn primary" type="submit" value="#springMessage('SignupFace.createAccountBtn')" />
                                <label class="or">#springMessage("SigninFace.or")</label>
                                <a class="register" href="$link.getContextPath()/login?show=loginDlg" onclick="">#springMessage("SigninFace.login")</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
