<div class="row">
#foreach($course in $bean.courseItems)
	#if($course.locked == true)
		#parse("userprofile/lockedcourse.vm")
	#else
		#parse("userprofile/simplecourse.vm")
	#end
#end
</div>
<script>
	$('label.hover').tooltip()
</script>
