#foreach($item in $bean.items)
<tr class="handy tr">
    <td class="handy td">$foreach.count</td>
    <td class="handy td">
		<a onclick='Util.goTo("reports/courseRating?catId=$!{item.categoryId}")'>$item.categoryTitle</a>
    </td>
    <td class="handy td text-right report-data">$number.format("#0.00", $!{item.completePart})</td>
</tr>
#end