<!DOCTYPE html>
<html>
    #parse("head.vm")
    <script type="text/javascript" src="$link.getContextPath()/js/report.js"></script>
    <body>
        #parse("topmenu/topmenu.vm")
        <div class="wrapper">
            <div id="body" class="container">
                <div>
                    <div class="hc-nav-report">
                        <div class="hc-dropdown btn-group pull-left">
                            ## фильтр категорий ##
                            #set($currentCategory = ${bean.categories.get($bean.viewModel.categoryFilter)})
                            <div id="categoryFilter" class="hc-dropdown btn-group">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    <label id="categoryFilterLabel">${currentCategory.getTitle($response.locale)}</label>
                                    <i class="icon-caret-down"></i>
                                </a>
                                <ul class='dropdown-menu'>
                                    #foreach($category in $bean.categories) 
                                        <li>
                                            <a onclick="Report.category(jQuery(this)); Report.renderReport(jQuery(this))" data-report-container="reportBody" data-category-id="$foreach.index">
                                                ${category.getTitle($response.locale)}
                                            </a>
                                        </li>
                                    #end
                                </ul>
                            </div>
                        </div>
                        ## фильтр поиска ##
                        <input class="form-control report-search pull-right" onchange="Report.search(jQuery(this)); Report.renderReport(jQuery(this));" data-report-container="reportBody"  placeholder="#springMessage('AddressBookDlg.search')"/>
                    </div>
                    <div class="well hc-well">
                        <div class='row'>
                            <div class='col-md-10'>
                                <h4 class="border">
                                    #springMessage("Reports.myAchievements")
                                </h4>
                            </div>
                            <div class='col-md-'2>
                                <a class="pull-right btn blue" href="$link.getContextPath()/reports/main/index" onclick="">#springMessage("Reports.otherReports")</a>
                            </div>
                        </div>
                        #parse("reports/myAchievements/report.vm")
                    </div>
                </div>
            </div>
        </div>
        #parse("footer.vm")
    </body>
    <script>
        handy.reportViewModel = new ReportViewModel();
        handy.reportViewModel.controller = "${bean.viewModel.controller}";
        handy.reportViewModel.reportType = "${bean.viewModel.reportType}";
        handy.reportViewModel.categoryFilter = "${bean.viewModel.categoryFilter}";
        handy.reportViewModel.statusFilter = "${bean.viewModel.statusFilter}";
        handy.reportViewModel.userActivityFilter = "${bean.viewModel.userActivityFilter}";
        handy.reportViewModel.search = "${bean.viewModel.search}";
        handy.reportViewModel.sort = "${bean.viewModel.sort}";
        handy.reportViewModel.direction = "${bean.viewModel.direction}";
        handy.reportViewModel.startDate = "${bean.viewModel.startDate}";
        handy.reportViewModel.endDate = "${bean.viewModel.endDate}";
    </script>
</html>
