#foreach($item in $bean.items)
    <tr class="handy tr">
        <td class="handy td">$foreach.count</td>
        <td class="handy td">
            <a onclick="Util.goTo('main/coursereg/index?coid=$!{item.courseOid}')">$!item.courseTitle</a>
        </td>
        <td class="handy td ">$date.format('dd.MM.yyyy HH:mm', $item.startAttemptDate)</td>
        <td class="handy td ">$date.format('dd.MM.yyyy HH:mm', $item.completeAttemptDate)</td>
        <td class="handy td ">$item.getTotalTime($response.locale)</td>
    </tr>
#end