<div id="avatarPanel" class="row">
	<div class="col-md-12">
		<h5  class='header three' style='margin-top:16px; margin-bottom:40px;'>
			#springMessage("UserAccountFace.avatar.headerText")
		</h5>
	</div>
	<div class="col-md-12">
			<div class='user-avatar'>
				<img class='user-img-avatar' src="$link.getContextPath()/${bean.avatarUrl}">
				<div class='avatar-btns-ui'>
    				<div class="btns">
        				<label class="icon-upload-alt sq-btn lg pull-left" for="avatar"></label>
        				<a class="icon-trash sq-btn lg pull-left" onclick="Account.deleteAvatarFunc();"></a>
    				</div>
				</div>
			</div>
	</div>
</div>