<div id="languagePanel" class="row">
    <div class="col-md-12">
        <h5  class='header three'>
			#springMessage("Lang.settings")
        </h5>
    </div>
    <div class='col-md-3'>
        <div class="btn-group blue">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <label>#springMessage("Lang.change")<i class="icon-angle-down"></i></label>
            </a>
            <ul class='dropdown-menu'>
                <li>
                    <a href="?lang=en_EN">#springMessage("Lang.en")</a>
                </li>
                <li>
                    <a href="?lang=ru_RU">#springMessage("Lang.ru")</a>
                </li>
            </ul>
        </div>
    </div>
</div>