<div id="personalPanel" class="row">
	<div class="col-md-12">
		<h5  class='header three'>
			#springMessage("UserAccountFace.personal.headerText")
		</h5>
		<div class="row">
			<div class="col-md-3">
				<input id="firstName" name="firstName" placeholder="#springMessage("UserAccountFace.personal.firstNamePlaceholder")" value="$!{bean.firstName}" class="form-control" type="text"></input>
			</div>
			<div class="col-md-3">
				<input id="lastName" name="lastName" placeholder="#springMessage("UserAccountFace.personal.lastNamePlaceholder")" value="$!{bean.lastName}" class="form-control" type="text"></input>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<textarea id="about" name="about" placeholder="#springMessage("UserAccountFace.personal.aboutPlaceholder")" class="form-control" rows="3">$!{bean.about}</textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<a onclick="Account.onSavePersonalClick();" class="btn blue" href="javascript://"><i class='icon-save'></i>#springMessage("UserAccountFace.personal.saveBtn")</a>
			</div>
			<div class='col-md-9'>				
				#viewMessage(${bean.savePersonalMsg})
			</div>
		</div>
	</div>
</div>