#if ($session.getAttribute("discussionBean"))
    #set( $activeDiscussion = $session.getAttribute("discussionBean").getActiveDiscussion() )
#end
<div id="actDiscPanel" class="col-md-9" style="border;">
	#if ($activeDiscussion)
	<div class="well hc-well" style="margin-top:0px">
        #parse("discussion/discussionContent.vm")
        #parse("discussion/forumContent.vm")
    </div>
    #end
</div>