#set( $forumBean = ${forumData} )
#set( $forumID = $forumBean.getForumId() )
<div id="${forumID}_modal_reply" class="modal" aria-hidden="true">
    <div class="modal-dialog hc reply">
        <div class="modal-content">
            <div class="modal-header">
                #springMessage("HcForum.dialogReplyHeader")
                <a id="btn816072" class="hc-btn-close" data-dismiss="modal">
                    <i class="icon-remove"></i>
                    <div></div>
                </a>
            </div>
            <div class="modal-body">
                <div>
                    <textarea id="${forumID}_mce_reply" class="hc-mce"></textarea>
                    <a class="hc-btn-primary" href="javascript://" onclick="CommentModule.onClickSubmitReplyComment('${forumID}', jQuery(this));">
                        <label>#springMessage("HcForum.dialogReplyBtn")</label>
                    </a>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
