

<div id="daoTestPanel">
	<h5 class="border">
		<b>Тестирование ДАО</b>
	</h5>
	<div>
		<P>Новый сгенерированный HandyObject[<label id='newHandyObjectValue'>${newHandyObject}</label>]</P>

		<a class="hc-btn-primary" href="$link.getContextPath()/usecase">Обновить ОИД через реквест</a> 
		<a class="hc-btn-primary" onclick="UseCaseModule.deferredResultAjax()">Deferred Result Ajax Update</a>
		<a class="hc-btn-primary" onclick="UseCaseModule.callableAjax()">Callable Ajax Update</a>
	</div>
</div>


