<div class="row">
    <div class="col-md-12">
        <h4 class="border">#springMessage("Reports.actualCategories")</h4>
        <div id="actualCategory" class="row">
            #foreach($item in $bean.actualCategoryItems)
                <div class="col-md-9">
                    <a onclick='Util.goTo("reports/courseRating?catId=$!{item.categoryId}")'>${item.categoryTitle}</a>
                </div>
                <div class="text-right col-md-3">$number.format("#0.00", $!{item.completePart})</div>
            #end
        </div>
        <a class="pull-right btn blue" href="$link.getContextPath()/reports/actualCategory" onclick="">#springMessage("Reports.fullList")</a>
    </div>
</div>
