<div id="MyAchievements" >
    <h4 class="border" style="padding-right: 10px">#springMessage("Reports.myAchievements")
        <a class="pull-right btn blue" href="$link.getContextPath()/reports/myAchievements" onclick="">#springMessage("Reports.fullList")</a>
    </h4>
    <div class="empty-message col-md-12">#springMessage("Reports.noAchievements")</div>
</div>
