<div id="MyCourseRating" >
    <h4 class="border" style="padding-right: 10px">#springMessage("Reports.myCoursesRating")
        <a class="pull-right btn blue" href="$link.getContextPath()/reports/myCourseRating" onclick="">#springMessage("Reports.fullList")</a>
    </h4>
    #if ($bean.myCourseRatingItems.size() == 0)
    	<div class="empty-message col-md-12">#springMessage("Reports.noCourses")</div>
    #else
    <table class="handy table report full">
        <colgroup class="handy colgroup"></colgroup>
        <thead class="handy thead">
            <tr class="handy tr">
                <th class="handy th" style="width: 7%">№</th>
                #reportTHead($bean.viewModel, "MyCourseRating", "MY_COURSE_RATING", "full_name", "Reports.columnCOURSE_NAME" )
                #reportTHead($bean.viewModel, "MyCourseRating", "MY_COURSE_RATING", "count_views", "Reports.columnVIEWS", "text-right", "width: 10%" )
                #reportTHead($bean.viewModel, "MyCourseRating", "MY_COURSE_RATING", "count_likes", "Reports.columnLIKES", "text-right", "width: 10%" )
            </tr>
        </thead>
        <tbody class="handy tbody">
        	Rating
            #foreach($item in $bean.myCourseRatingItems)
                <tr class="handy tr">
                    <td class="handy td">$foreach.count</td>
                    <td class="handy td">
                        <a onclick="Util.goTo('reports/courseInfo?coid=${item.courseOID}')">$item.courseName</a>
                    </td>
                    <td class="handy td text-right">$item.courseViews</td>
                    <td class="handy td text-right">$item.courseLikes</td>
                </tr>
            #end
        </tbody>
    </table>
    #end
</div>
