<div id="MyPropensity" >
    <h4 class="border" style="padding-right: 10px">#springMessage("Reports.myPropensities")
        <a class="pull-right btn blue" href="$link.getContextPath()/reports/myPropensity" onclick="">#springMessage("Reports.fullList")</a>
    </h4>
    <div class="empty-message col-md-12">#springMessage("Reports.noPropensities")</div>
</div>
