<li id="$question.getObjectId().getId()" class="row hc-question-active" data-type="$question.getQuestionType()">
	<div id="title${question.getObjectId().getId()} "class="col-md-12">
		<textarea id="text${question.getObjectId().getId()}">
			$!question.getText()
		</textarea>
		<script>
			Wysiwyg.initQ("text${question.getObjectId().getId()}");
		</script>
	</div>
	<ul id="answers${question.getObjectId().getId()}" class="col-md-12 answers nav">
		#foreach($answer in $bean.getVisibleAnswers($question))
			#parse("editcourse\testeditor\answers\open.vm")
		#end
	</ul>
	<a onclick=TestEditor.addAnswer("$question.getObjectId().getId()") class="btn blue addAnswerBtn">
		#springMessage('TestEditCourseAction.addAnswerVariantBtn')
	</a>
	<i class="icon-move component a"></i>
	#parse("editcourse/testeditor/ui/activeui.vm")
</li>
