.text {
	font-size: 14px;
}

.text.two,.text.three {
	line-height: 20px;
}

.text.one {
	line-height: 24px;
	color: #5a5a64 !important;
}

.text.two {
	color: #787882 !important;
}

.text.three {
	color: #b4b4be !important;
}

.header {
	line-height: 24px;
}

.header.one,.header.three {
	color: #5a5a64 !important;
}

.header.one {
	font-size: 20px;
}

.header.two {
	font-size: 18px;
	color: #787882 !important;
}

.header.three {
	font-size: 16px;
	padding-bottom: 4px;
	border-bottom: 1px solid #d2d2dc;
}

.hc-player-item.header {
	text-align: center;
	width: auto;
	font-size: 18px;
	color: #787882 !important;
}

.hc-player-item.text {
	line-height: 24px;
	color: #5a5a64 !important;
	font-size: 14px;
}

.hc-player-item.text p {
	margin-top:16px;
	margin-bottom:16px;
}


.notification {
	font-size: 13px;
	line-height: 16px;
}

.notification>div:first-child,.notification div:first-child>a,.notification div:first-child>label
	{
	color: #787882 !important;
}

.notification>div:first-child>a:hover {
	text-decoration: underline;
}

.notification>div:last-child {
	color: #b4b4be !important;
}

.hc-nav-secondary {
		border-radius: 0px 0px 4px 4px;
		background-color: #4b4b69;
		border-top: 1px solid #3c3c5a;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: 48px;
		line-height: 48px;
		padding-left: 10px;
		padding-right: 10px;
}

.hc-nav-secondary a {
	color: #9696b4 !important;
	font-size: 14px;
}

.hc-nav-secondary i.icon-caret-down {
	color: #787896 !important;
	font-size: 14px;
}

.hc-nav-secondary li.active a {
	color: #fff !important;
}

.hc-nav-secondary li a, .hc-nav-secondary li{
	height:48px;
}

.hc-nav-secondary li.active {
	background-color: #3c3c5a;
}

.hc-nav-secondary li>a:hover {
	background-color: #696987;
}

.dropdown-toggle i.icon-caret-down {
	margin-left:5px;
}

a.icon-white {
	display:block;
	width: 48px;
	height:48px;
	text-align:48px;
	padding:0px;
	text-align:center;
}

#userModeUl li {
	text-align:center;
	width:90px;
}

#categoryFilter,#sortingFilter,#regFilter{
	margin-left:20px;
}


#userModeUl li, #viewModeUl li{
	box-shadow: -1px 0px #3c3c5a, -2px 0px #5a5a78;
}

#userModeUl li:last-child, #viewModeUl li:last-child{
	box-shadow: 1px 0px #5a5a78, 2px 0px #3c3c5a;
}

#userModeUl li.active, #viewModeUl li.active{
	box-shadow: inset 1px 0px #5a5a78, inset -1px 0px #5a5a78;
}