/*!
 * Slider for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.slider {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.slider.slider-horizontal {
	width: 600px;
	margin-left: 36px;
	height: 32px;
}

.slider.slider-horizontal .slider-track {
	height: 1px;
	width: 95%;
	margin-top: -1px;
	background-color: #d2d2dc;
	top: 50%;
	left: 0;
	border: 0px;
}

.slider.slider-horizontal .slider-selection {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	height: 100%;
	top: 0;
	bottom: 0;
}

.slider.slider-horizontal .slider-handle {
	margin-top: -12px;
	margin-left: -32px;
}

.slider.slider-vertical {
	height: 210px;
	width: 20px;
}

.slider.slider-vertical .slider-track {
	width: 10px;
	height: 100%;
	margin-left: -5px;
	left: 50%;
	top: 0;
}

.slider.slider-vertical .slider-selection {
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
}

.slider.slider-vertical .slider-handle {
	margin-left: -5px;
	margin-top: -10px;
}

.slider.slider-vertical .slider-handle.triangle {
	border-width: 10px 0 10px 10px;
	width: 1px;
	height: 1px;
	border-left-color: #0480be;
	margin-left: 0;
}

.slider input {
	display: none;
}

.slider .tooltip-inner {
	white-space: nowrap;
}

.slider-track {
	position: absolute;
	cursor: pointer;
}

.slider-selection {
	position: absolute;
	background-color: #FFA08C;
	box-sizing: border-box;
}

.slider-handle {
	line-height: 22px;
	text-align: center;
	position: absolute;
	width: 65px;
	height: 24px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	background-color: #F8F8FD;
	color: #787882;
	border: 1px solid #d2d2dc;
}


.slider-handle>i {
	color: #d2d2dc;
}

.slider-handle:hover {
	background-color: #f1f2fa;
}

.slider-handle:focus,.slider-handle:active,.slider-handle.active {
	border-color: #b4b4d2;
}

.slider-handle label {
	cursor: pointer;
	color:color: #787896;
	margin-left: 4px;
	margin-right: 4px;
}

.slider-handle i {
	margin-left: 4px;
	margin-right: 4px;
	color: #787896;
}

.slider-handle.round {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.slider-handle.triangle {
	background: transparent none;
}