 #set( $forumBean = ${forumData} )
<div id='discussionsList'>
    #if(!$discussions.isEmpty())
        <h4 class='border'>#springMessage("DiscussionHtmlBuilder.topics")</h4>
        <div class='row' style='color:#B4B4BE; line-height:40px;'>
            <div class='col-md-5'>
                #springMessage("CoursePlayerFace.name")
            </div>
            <div class='col-md-2'>
                #springMessage("DiscussionHtmlBuilder.topicStat.started")
            </div>
            <div class='col-md-2'>
                #springMessage("DiscussionHtmlBuilder.topicStat.comments")
            </div>
            <div class='col-md-2'>
                #springMessage("DiscussionHtmlBuilder.topicStat.last")
            </div>
            <div class='col-md-1'>
            </div>
        </div>
        <ul class='nav'>
            #foreach($discussion in $discussions)
                <li class='row' id="${discussion.objectId.id}">
                    <div class='col-md-5'>
                        <a onclick='PlayerDiscussion.showTopic("${discussion.objectId.id}")'>$discussion.topic</a>
                    </div>
                    <div class='col-md-2'>
                        <a onclick='Util.goTo("userprofile/$discussion.getCreator().getObjectId().getId()")'>$!{discussion.getCreator().getUsername()}</a>
                    </div>
                    <div class='col-md-2' style='color: #787882;'>
                        $!{forumBean.getCountComments($discussion.getObjectId().getId())}
                    </div>
                    <div class='col-md-2'>
                        <a onclick='Util.goTo("userprofile/$!{forumBean.getLastComment($discussion.getObjectId().getId()).getOwner().getObjectId().getId()}")'>$!{forumBean.getLastComment($discussion.getObjectId().getId()).getOwner().getUsername()}</a>
                    </div>
                    <div class='col-md-1' style='padding-bottom:4px;'>
						#if($user==$discussion.creator.objectId.id)
                        <a style='line-height:32px;' onclick='PlayerDiscussion.deleteTopic("${discussion.objectId.id}")' class="btn attach delete"><i class='icon-trash'></i></a>
						#end
					</div>
                </li>
            #end
        </ul>
        #else
            <h3 style='text-align:center; color:#B4B4BE;'>#springMessage("DiscussionHtmlBuilder.createNewTopicText")</h3>
    #end
</div>
