<!DOCTYPE html>
<html>
    #parse("head.vm")
	<script type="text/javascript" src="$link.getContextPath()/js/fs.js"></script>
	<script type="text/javascript" src="$link.getContextPath()/js/comments.js"></script>
	<script type="text/javascript" src="$link.getContextPath()/js/playerDiscussion.js"></script>
    <body>
        #parse("topmenu/topmenu.vm")
        #set($bean = ${courseregData})
        <div class="wrapper">
            <div id="body" class="container">
                <div class='row'>
                    <div class='col-md-10'>
                        #parse("discussion/player/header.vm")
                        #parse("discussion/player/discussions.vm")
                    </div>
                    <div class='col-md-2 buttons'>
                        #parse("discussion/player/ui.vm")
                    </div>
                </div>
            </div>
        </div>
        #parse("footer.vm")
    </body>
	<script>
		PlayerDiscussion.init($bean.course.objectId.id)
	</script>
</html>
